# Imports

In [9]:
import datetime

def convert_unix_to_date(unix_value):
    date_value = datetime.datetime.fromtimestamp(unix_value)
    print(str(date_value)[:10])

# Test the function
convert_unix_to_date(1199232000.0)

2008-01-01

In [10]:
d = {'a': 1, 'b': 2, 'c': 3}
d.values()

dict_values([1, 2, 3])

In [6]:
import pandas as pd
df = pd.read_csv("/Users/rileyoest/VS_Code/AlphaScratch/Project/Dashboard/NASDAQ/stock_data.csv")
df = df.drop(["Unnamed: 0"], axis=1)
df

        Open   High    Low  Close  Adj Close     Volume Symbol        Date
0       9.50   9.99   8.57   8.75   0.702590  1489000.0   AACG  2008-01-29
1       8.75   9.15   8.30   8.50   0.682516   219000.0   AACG  2008-01-30
2       8.49  10.30   8.49   9.55   0.766826   182300.0   AACG  2008-01-31
3       9.93   9.94   9.50   9.51   0.763614    28200.0   AACG  2008-02-01
4       9.50   9.71   9.50   9.50   0.762811     8300.0   AACG  2008-02-04
...      ...    ...    ...    ...        ...        ...    ...         ...
17884  90.00  92.50  90.00  91.25  91.250000      816.0   ABEO  2015-12-24
17885  90.50  91.75  87.50  88.25  88.250000     2116.0   ABEO  2015-12-28
17886  88.50  89.25  86.75  88.00  88.000000     2948.0   ABEO  2015-12-29
17887  86.75  92.00  86.75  86.75  86.750000     6052.0   ABEO  2015-12-30
17888  85.25  88.50  83.75  84.00  84.000000     5752.0   ABEO  2015-12-31

[17889 rows x 8 columns]

In [3]:
len(df['Date'].unique())

2015

In [12]:

from NASDAQ.nasdaq import nasdaq
from NASDAQ.others import others
import yfinance as yf
import pandas as pd

nasdaq = nasdaq[:20]

In [38]:

def get_stock_data(ticker_list, start_date, end_date):
    l = []

    for ticker in ticker_list:
        df = yf.download(ticker, start=start_date, end=end_date)
        df['Symbol'] = ticker
        df['Date'] = df.index
        df = df.reset_index(drop=True)
        l.append(df)

    # Concatenate all the dataframes vertically
    big_df =  pd.concat(l, axis=0)
    big_df = big_df.reset_index(drop=True)
    return big_df

In [39]:
s = "2008-01-01"
e = "2016-01-01"
df = get_stock_data(nasdaq, s, e)

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

ERROR:yfinance:
1 Failed download:
ERROR:yfinance:['AACI']: Exception("%ticker%: Data doesn't exist for startDate = 1199163600, endDate = 1451624400")

[*********************100%%**********************]  1 of 1 completed

ERROR:yfinance:
1 Failed download:
ERROR:yfinance:['AACIU']: Exception("%ticker%: Data doesn't exist for startDate = 1199163600, endDate = 1451624400")

[*********************100%%**********************]  1 of 1 completed

ERROR:yfinance:
1 Failed download:
ERROR:yfinance:['AACIW']: Exception("%ticker%: Period 'max' is invalid, must be one of ['1d', '5d']")

[*********************100%%**********************]  1 of 1 completed

ERROR:yfinance:
1 Failed download:
ERROR:yfinance:['AADI']: Exception("%ticker%: Data doesn't exist for startDate = 1199163600, endDate = 1451624400")

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

ERROR:yfinance:
1 Failed download:
ERROR:yfinance:['AAPB']: Exception("%ticker%: Data doesn't exist for startDate = 1199163600, endDate = 1451624400")

[*********************100%%**********************]  1 of 1 completed

ERROR:yfinance:
1 Failed download:
ERROR:yfinance:['AAPD']: Exception("%ticker%: Data doesn't exist for startDate = 1199163600, endDate = 1451624400")

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

ERROR:yfinance:
1 Failed download:
ERROR:yfinance:['AAPU']: Exception("%ticker%: Data doesn't exist for startDate = 1199163600, endDate = 1451624400")

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

ERROR:yfinance:
1 Failed download:
ERROR:yfinance:['ABAT']: Exception("%ticker%: Data doesn't exist for startDate = 1199163600, endDate = 1451624400")

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

ERROR:yfinance:
1 Failed download:
ERROR:yfinance:['ABCL']: Exception("%ticker%: Data doesn't exist for startDate = 1199163600, endDate = 1451624400")

[*********************100%%**********************]  1 of 1 completed

ERROR:yfinance:
1 Failed download:
ERROR:yfinance:['ABCM']: Exception("%ticker%: Data doesn't exist for startDate = 1199163600, endDate = 1451624400")

[*********************100%%**********************]  1 of 1 completed

In [40]:
df

        Open   High    Low  Close  Adj Close     Volume Symbol       Date
0       9.50   9.99   8.57   8.75   0.702589  1489000.0   AACG 2008-01-29
1       8.75   9.15   8.30   8.50   0.682515   219000.0   AACG 2008-01-30
2       8.49  10.30   8.49   9.55   0.766826   182300.0   AACG 2008-01-31
3       9.93   9.94   9.50   9.51   0.763614    28200.0   AACG 2008-02-01
4       9.50   9.71   9.50   9.50   0.762811     8300.0   AACG 2008-02-04
...      ...    ...    ...    ...        ...        ...    ...        ...
17884  90.00  92.50  90.00  91.25  91.250000      816.0   ABEO 2015-12-24
17885  90.50  91.75  87.50  88.25  88.250000     2116.0   ABEO 2015-12-28
17886  88.50  89.25  86.75  88.00  88.000000     2948.0   ABEO 2015-12-29
17887  86.75  92.00  86.75  86.75  86.750000     6052.0   ABEO 2015-12-30
17888  85.25  88.50  83.75  84.00  84.000000     5752.0   ABEO 2015-12-31

[17889 rows x 8 columns]

In [22]:
df = df.reset_index(drop=True).rename(columns={'Date': 'Date'})

In [21]:
df = df.reset_index(drop=True)
df

            Date   Open   High    Low  Close  Adj Close     Volume Symbol
0     2008-01-29   9.50   9.99   8.57   8.75   0.702589  1489000.0   AACG
1     2008-01-30   8.75   9.15   8.30   8.50   0.682516   219000.0   AACG
2     2008-01-31   8.49  10.30   8.49   9.55   0.766826   182300.0   AACG
3     2008-02-01   9.93   9.94   9.50   9.51   0.763614    28200.0   AACG
4     2008-02-04   9.50   9.71   9.50   9.50   0.762811     8300.0   AACG
...          ...    ...    ...    ...    ...        ...        ...    ...
17884 2015-12-24  90.00  92.50  90.00  91.25  91.250000      816.0   ABEO
17885 2015-12-28  90.50  91.75  87.50  88.25  88.250000     2116.0   ABEO
17886 2015-12-29  88.50  89.25  86.75  88.00  88.000000     2948.0   ABEO
17887 2015-12-30  86.75  92.00  86.75  86.75  86.750000     6052.0   ABEO
17888 2015-12-31  85.25  88.50  83.75  84.00  84.000000     5752.0   ABEO

[17889 rows x 8 columns]

In [24]:
import vizro.plotly.express as px
from vizro import Vizro
import vizro.models as vm

In [25]:
df = px.data.gapminder()
gapminder_data = (
        df.groupby(by=["continent", "year"]).
            agg({"lifeExp": "mean", "pop": "sum", "gdpPercap": "mean"}).reset_index()
    )

In [26]:
df

,country,continent,year,lifeExp,pop,gdpPercap,iso_alpha,iso_num
0,Afghanistan,Asia,1952,28.801,8425333,779.445314,AFG,4
1,Afghanistan,Asia,1957,30.332,9240934,820.853030,AFG,4
2,Afghanistan,Asia,1962,31.997,10267083,853.100710,AFG,4
3,Afghanistan,Asia,1967,34.020,11537966,836.197138,AFG,4
4,Afghanistan,Asia,1972,36.088,13079460,739.981106,AFG,4
...,...,...,...,...,...,...,...,...
1699,Zimbabwe,Africa,1987,62.351,9216418,706.157306,ZWE,716
1700,Zimbabwe,Africa,1992,60.377,10704340,693.420786,ZWE,716
1701,Zimbabwe,Africa,1997,46.809,11404948,792.449960,ZWE,716
1702,Zimbabwe,Africa,2002,39.989,11926563,672.038623,ZWE,716
1703,Zimbabwe,Africa,2007,43.487,12311143,469.709298,ZWE,716

In [31]:
gapminder_data

   continent  year    lifeExp         pop     gdpPercap
0     Africa  1952  39.135500   237640501   1252.572466
1     Africa  1957  41.266346   264837738   1385.236062
2     Africa  1962  43.319442   296516865   1598.078825
3     Africa  1967  45.334538   335289489   2050.363801
4     Africa  1972  47.450942   379879541   2339.615674
5     Africa  1977  49.580423   433061021   2585.938508
6     Africa  1982  51.592865   499348587   2481.592960
7     Africa  1987  53.344788   574834110   2282.668991
8     Africa  1992  53.629577   659081517   2281.810333
9     Africa  1997  53.598269   743832984   2378.759555
10    Africa  2002  53.325231   833723916   2599.385159
11    Africa  2007  54.806038   929539692   3089.032605
12  Americas  1952  53.279840   345152446   4079.062552
13  Americas  1957  55.960280   386953916   4616.043733
14  Americas  1962  58.398760   433270254   4901.541870
15  Americas  1967  60.410920   480746623   5668.253496
16  Americas  1972  62.394920   529384210   6491.334139
17  Americas  1977  64.391560   578067699   7352.007126
18  Americas  1982  66.228840   630290920   7506.737088
19  Americas  1987  68.090720   682753971   7793.400261
20  Americas  1992  69.568360   739274104   8044.934406
21  Americas  1997  71.150480   796900410   8889.300863
22  Americas  2002  72.422040   849772762   9287.677107
23  Americas  2007  73.608120   898871184  11003.031625
24      Asia  1952  46.314394  1395357351   5195.484004
25      Asia  1957  49.318544  1562780599   5787.732940
26      Asia  1962  51.563223  1696357182   5729.369625
27      Asia  1967  54.663640  1905662900   5971.173374
28      Asia  1972  57.319269  2150972248   8187.468699
29      Asia  1977  59.610556  2384513556   7791.314020
30      Asia  1982  62.617939  2610135582   7434.135157
31      Asia  1987  64.851182  2871220762   7608.226508
32      Asia  1992  66.537212  3133292191   8639.690248
33      Asia  1997  68.020515  3383285500   9834.093295
34      Asia  2002  69.233879  3601802203  10174.090397
35      Asia  2007  70.728485  3811953827  12473.026870
36    Europe  1952  64.408500   418120846   5661.057435
37    Europe  1957  66.703067   437890351   6963.012816
38    Europe  1962  68.539233   460355155   8365.486814
39    Europe  1967  69.737600   481178958  10143.823757
40    Europe  1972  70.775033   500635059  12479.575246
41    Europe  1977  71.937767   517164531  14283.979110
42    Europe  1982  72.806400   531266901  15617.896551
43    Europe  1987  73.642167   543094160  17214.310727
44    Europe  1992  74.440100   558142797  17061.568084
45    Europe  1997  75.505167   568944148  19076.781802
46    Europe  2002  76.700600   578223869  21711.732422
47    Europe  2007  77.648600   586098529  25054.481636
48   Oceania  1952  69.255000    10686006  10298.085650
49   Oceania  1957  70.295000    11941976  11598.522455
50   Oceania  1962  71.085000    13283518  12696.452430
51   Oceania  1967  71.310000    14600414  14495.021790
52   Oceania  1972  71.910000    16106100  16417.333380
53   Oceania  1977  72.855000    17239000  17283.957605
54   Oceania  1982  74.290000    18394850  18554.709840
55   Oceania  1987  75.320000    19574415  20448.040160
56   Oceania  1992  76.945000    20919651  20894.045885
57   Oceania  1997  78.190000    22241430  24024.175170
58   Oceania  2002  79.740000    23454829  26938.778040
59   Oceania  2007  80.719500    24549947  29810.188275

In [3]:
df = px.data.gapminder()

In [4]:
df

,country,continent,year,lifeExp,pop,gdpPercap,iso_alpha,iso_num
0,Afghanistan,Asia,1952,28.801,8425333,779.445314,AFG,4
1,Afghanistan,Asia,1957,30.332,9240934,820.853030,AFG,4
2,Afghanistan,Asia,1962,31.997,10267083,853.100710,AFG,4
3,Afghanistan,Asia,1967,34.020,11537966,836.197138,AFG,4
4,Afghanistan,Asia,1972,36.088,13079460,739.981106,AFG,4
...,...,...,...,...,...,...,...,...
1699,Zimbabwe,Africa,1987,62.351,9216418,706.157306,ZWE,716
1700,Zimbabwe,Africa,1992,60.377,10704340,693.420786,ZWE,716
1701,Zimbabwe,Africa,1997,46.809,11404948,792.449960,ZWE,716
1702,Zimbabwe,Africa,2002,39.989,11926563,672.038623,ZWE,716
1703,Zimbabwe,Africa,2007,43.487,12311143,469.709298,ZWE,716

In [5]:
"""
home page

Title = "Alpha Generator"
Buttons : [Backtest] [Live Trade]
"""
home_page = vm.Page(
    title="Alpha Generator",
    components=[
        vm.Card(
            text="Live Trade",
            href="/live-trade",  # Not yet implemented.
        ),
        vm.Card(
            text="Backtest",
            href="/backtest",
        ),
    ],
)

In [6]:
"""
backtest page

"""
backtest_page = vm.Page(
    title="Backtest",
    layout=vm.Layout(grid=[[0, 0], [1, 1], [2, 2], [3, 3], [4, 4]]),  # Adjust grid for alignment
    components=[
        vm.Input(id="ticker_input", title="Enter Ticker"),
        vm.DateRangePicker(id="date_range_input", title="Select Date Range"),
        vm.Dropdown(id="indicator_dropdown", title="Select Indicator", options=['Indicator1', 'Indicator2']),  # Placeholder indicators
        vm.Graph(id="price_chart"),  # Placeholder, you'll need to use actual data to plot.
        vm.Graph(id="volume_chart"),  # Placeholder, you'll need to use actual data to plot.
    ],
    controls=[
        vm.Button(text="Run Backtest", href="/backtest-performance"),  # Navigate to performance page when clicked.
    ],
)

AttributeError: module 'vizro.models' has no attribute 'Input'

In [ ]:
backtest_performance_page = vm.Page(
    title="Backtest Performance",
    components=[
        vm.Graph(id="portfolio_balance_chart"),
        vm.Graph(id="stock_history_chart_with_indicators"),
        vm.Table(
            id="profit_by_day_table",
            headers=["Day", "Profit"],  # Needs a method to color profits.
            data=[["Monday", "+$100"], ["Tuesday", "-$50"]],  # Placeholder data.
        ),
        vm.Table(
            id="trade_records_table",
            headers=["Date", "Indicator", "Position"],
            data=[["2023-01-01", "Indicator1", "Buy"], ["2023-01-02", "Indicator2", "Sell"]],  # Placeholder data.
        ),
    ],
)

In [ ]:


dashboard = vm.Dashboard(pages=[home_page, backtest_page, backtest_performance_page])
Vizro().build(dashboard).run()